*{
    font-family: Roboto;
}


li{
    display: inline;
    margin-right: 30px;
}

nav{
    width: 100%;
}

.main{
    padding: 10px 80px;
    background-color: #FFFDD0;
}

h2{
    font-size: 30px;
    color: #ff0000;
    
}